* {
  margin: 0;
  box-sizing: border-box;
  padding: 0px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hidden {
  opacity: 0;
}

.remove {
  display: none;
}
